*.class

/waveletclient/waveletclient.app/bin/
/waveletclient/waveletclient.app/obj/
/waveletclient/waveletclient.dao/bin/
/waveletclient/waveletclient.dao/obj/
/waveletclient/waveletclient.dto/bin/
/waveletclient/waveletclient.dto/obj/
